<div class="d-flex flex-column justify-content-center">
  <div class="row">
    <div class="col-md-12">
      <img
        src="https://scontent.fsof9-1.fna.fbcdn.net/v/t1.6435-9/93662425_101020818259582_9095505251225567232_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=e3f864&_nc_ohc=OiJV0D8FoKMAX8JY-3I&_nc_ht=scontent.fsof9-1.fna&oh=00_AT8LYSQ6wz9ikxC2zDsEWyRvEN0UL0anJjfN6V8qFYfrWQ&oe=6287815B"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Добро пожаловать на наш сайт!</p>
    </div>
  </div>
</div>
