<footer class="fixed-bottom p-3 w-screen bg-yellow-600">
    <div class="float-left">
        <p class="text-lg pb-2 font-medium">Салон за Красота "Блясък"</p>
        <p class="text-base">Петрич, ул."Параскева Филипова" №10</p>
    </div>
    <div class="float-right">
        <p class="text-base">
            <i class="fa-solid fa-square-phone"></i> Маникюристка: <a href="tel:+359878206555"> +359 878206555</a></p>
        <p class="text-base"></p>
        <p class="text-base">
            <i class="fa-solid fa-square-phone"></i> Фризьорка: <a href="tel:+359876577306"> +359 878206555</a></p>
        <p class="text-base"></p>
        <p class="text-base">
            <i class="fa-solid fa-square-phone"></i> Гримьорка: <a href="tel:+359878206555"> +359 878206555</a></p>
        <p class="text-base"></p>
        <p class="text-base">
            <i class="fa-solid fa-square-phone"></i> Козметичка: <a href="tel:+359878206555"> +359 878206555</a></p>
        <p class="text-base"></p>

    </div>
</footer>